.gradientBack{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
    background-size: 400%;
    background-repeat: no-repeat;
    /* z-index: -1; */
    animation: bg-animation 7s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span:nth-child(even){
    background:#f9f871;
    box-shadow: 0 0 0 10px#f9f87144,
    0 0 50px #f9f871,
    0 0 100px #f9f871;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background-color:#ff9671;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px#ff967144,
    0 0 50px #ff9671,
    0 0 100px #ff9671;
    animation: animate-bubbles 15s linear infinite;
    animation-duration: calc(650s / var(--i));
    transition: background-color 0.5s ease;
    opacity: 1;
    /* z-index: -1; */
}



@keyframes animate-bubbles {
    0%
    {
        transform: translateY(0vh) scale(0);
    }
    80%
    {
        
    }
    90%
    {
       
    }
    95%
    {
        background-color: white;
        box-shadow: 0 0 0 10px white,0 0 50px white,
        0 0 100px white;
        opacity: .7; 
    }
    100%
    {
        transform:  translateY(-600px) scale(.4);
        opacity: 0;
    }
}


@keyframes bg-animation{
    0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
.container{
    height: 400px;
}

#firstPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background-color: purple; */
}

#secondPage{
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}

#thirdPage{
    display: flex;
    margin-top: 200px;
}

#pageTwoh1{
   top: 0;
}

#firstPage,#thirdPage{
    height: 1000px;
}

.navbar{
    z-index: 1;
}

.navbar-nav{
    width: 100%;
}

.homePageContent{
    width: 1080px;
    height: 450px;
    padding-bottom: 50px;
}

.navbar-brand{
    color: aqua;
}

.col-one{
    display: grid;
    grid-template-rows: 330px 80px 70px;
    height: 500px;
}

.colOneHeader{
    padding-top: 100px;
}

#colOneHeaderName{
    font-size: 90px;
    margin: 0;
    padding: 0;
    
}

.colOneButtonContainer{
    align-self: flex-end
}

.colOneButtonContainer > button{
    width: 112px;
    height: 33px;
}



.col-two{
  
}

.techStack > div{
    width: 100%;
    height: 100%;
    margin: 10px;

}

.techStack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1080px;
    height: 160px;
    padding-bottom: 350px;
}

.grid-even-columns{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.grid-even-columns .flow img{
  width: 120px;
  height: 120px;
}

.grid-even-columns .flow {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: transform .5s ease; */
}

.grid-even-columns .flow:hover img{
    transform: translate(120px);
}

.grid-even-columns .flow:hover .logoText {
    color: black;
}

.grid-even-columns .flow img{
    transition: transform 1.5s ease;
}

.logoText{
    position: absolute;
    color: white;
    z-index: -1;
    transition: color 2s;
    font-family: 'Roboto Mono', sans-serif;
}

.flow{
    border: 1px solid white;
    transition: border-color 4s;
}


.bioContainer{
    height: 80%;
    width: 1080px;
    display: flex;
    background-color: pink;
    
}

.bioText{
    display: grid;
    grid-template-rows: repeat(32, 1fr);
    grid-template-columns: repeat(6, 1fr);
    width: 50%;
    height: 100%;
    /* background-color: pink; */
    padding: 10px;
}

.item-1{
    grid-row: 1/2;
    grid-column: 1/4;
}

.item-2{
    grid-row: 2/3;
    grid-column: 1/7;
}
.item-3{
    grid-row: 3/4;
    grid-column: 1/7;
}

.item-4{
    grid-row: 10/11;
    grid-column: 1/7;
}

.item-5{
    grid-row: 11/13;
    grid-column: 1/7;
}

.item-6{
    grid-row: 20/22;
    grid-column: 1/7;
}

.item-7{
    grid-row: 21/22;
    grid-column: 1/7;
}

.item-8{
    grid-row: 29/31;
    grid-column: 1/7;
}

.item-9{
    grid-row: 30/32;
    grid-column: 1/7;
}

.bioText div {
    font-size: 18px;
}

#box{
    position: sticky;
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    overflow: hidden;
    /* margin-top: 150px; */
}

#box::before{
    content: '';
    position: absolute;
    inset: -15px 110px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate-bioPic 10s linear infinite;
}

#box:hover::before{
    inset: -20px 0px;
}

@keyframes animate-bioPic 
{
    0%
    {
        transform: rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
    }
}

#box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background-color: pink;
    border-radius: 50%;
    z-index: 1;
}

.imgContainer{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 50%;
    height: 100%;
    /* background-color: pink; */
}

.bioText, .imgContainer {
    border: 1px dashed gray;
}

.content{
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.bwPic{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit:cover;
   transition: 2.5s;
}

.colorPic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0;
    transition: 2s;
}

#box:hover .bwPic{
    opacity: 0;
}

#box:hover .colorPic{
    opacity: 100;
}

h2 {
    position:sticky;
    top: 0;
}

h3{
    font-size: 18px;
    color: #d65db1;
}

#boxContainer{
    position: sticky;
    top: 200px;
   
}


