#thirdPage{
    width: 100%;
    height: 900px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.projectContainer{
    width: 1080px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectHeader{
    /* background-color: red; */
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#thirdPageTitle{
    margin-bottom: 50px;
}

.buttonContainerp3{

}

.projectContent{
    /* background-color: blue; */
    height: 60%;
    width: 100%;
    display: flex;
    
}

.projectInfo, .projectList{
    height: 100%;

}

.projectInfo{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    

}

.projectList{
    width: 75%;
}

.gifContainer{
    width: 810px;
    height: 440px;
    margin-bottom: 50px;
    
    /* background-color: pink; */
}


.gifOne {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%; 
    max-height: 100%;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7); 
    border-radius: 8px;
}

/* styles.css */
.gifOne.active {
    transform: translateX(0);
    opacity: 1;
}

.gifTwo{
    opacity: 0; 
    width: 810px;
    height: 440px;
    position: absolute;
    left: 510px;
    transition: opacity 3s;
    border-radius: 8px;
    /* inset: 0; */
}

.gifTwo.active{
    opacity: 1;
}

.projectDescriptionContainer{
    width: 90%;
    height: 50%;
    opacity: 0;
    transition: opacity 1s;
}

.projectDescriptionContainerTwo{
    opacity: 0;
    position: absolute;
    width: 243px;
    height: 243px;
    transition: opacity 1s;
}

.projectDescriptionContainer.active{
    opacity: 1;
}

.projectDescriptionContainerTwo.active{
    opacity: 1;
}

.projectDescription{
    /* transform: translateX(-100%); */
    opacity: 0;
    transition: opacity 9s;
    /* background-color: blueviolet; */
}

.projectDescription.active{
    opacity: 1;
}

.skillText{
    color: blue;
    opacity: 0;
    transition: opacity 2s;
}

.skillText.active{
    opacity: 1;
}

.projectList{
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}

.projectColumn{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.project1, .project2{
    border-radius: 1.2rem;
    position: relative;
    width: 133px;
    height: 40px;
    /* border: 1px solid black; */
    background-color: transparent;
    --container-offset: 100px;
    --glow-line-color: #fff;
    --glow-line-thickness: 2px;
    --glow-blur-color: #D16ADC;
    --glow-blur-size: 3px;
    animation: dashOffsetAnimation 10s linear infinite;
}

/* buttons */
.project1{
    margin-bottom: 200px;
    position: relative;
    /* animation: dashOffsetAnimation 7s linear infinite; */
    /* animation: glow-visibility 5000ms; */
}

/* svg */
.glow-container{
    position: absolute;
    pointer-events: none;
    /* inset moves svg on top of button */
    inset: calc(var(--container-offset) / -2);
    /* outline: 3px solid blue; */
    width: calc(100% + var(--container-offset));
    height: calc(100% + var(--container-offset));
    opacity: 0;
    animation: glow-visibility 5s linear infinite;
    
}

/* rects */
.glow-blur,.glow-line{
    width: calc(100% - var(--container-offset));;
    height: calc(100% - var(--container-offset));;
    x: calc(var(--container-offset) / 2);
    y: calc(var(--container-offset) / 2);
    /* border radius for moving borders */
    rx:1.2rem;
    fill: transparent;
    stroke: black;
    stroke-width: 5px;
    /* dash gap around button */
    stroke-dasharray: 20px 30px;
    transition: stroke-dashoffset 157000ms;
}


.glow-blur{
    filter: blur(var(--glow-blur-size));
    stroke: var(--glow-blur-color);
    stroke-width: var(--glow-blur-size);

}

.glow-line{
    stroke: var(--glow-line-color);
    stroke-width: var(--glow-line-thickness);
}

@keyframes glow-visibility{
    0%, 100% { opacity: 0 }
    25%, 75% { opacity: 1 }

}

@keyframes dashOffsetAnimation {
    0% { stroke-dashoffset:  50000px; }
    100% { stroke-dashoffset: 0 }
}


@media(max-width: 1085px){
    .gifContainer{
        width: 700px;
        height: 340px;
    }
}