html, body{
    margin: 0;
    padding: 0;
}

.gradientBack{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(
        45deg,
        #645DC2,
        #6E52CB,
        #845ec2,
        #d65db1,
        #ff6f91,
        #FF7073
    );
    background-size: 400%;
    background-repeat: no-repeat;
    animation: bg-animation 7s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

footer{
    width: 100%;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span:nth-child(even){
    background:#f9f871;
    box-shadow: 0 0 0 10px#f9f87144,
    0 0 50px #f9f871,
    0 0 100px #f9f871;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background-color:#ff9671;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px#ff967144,
    0 0 50px #ff9671,
    0 0 100px #ff9671;
    animation: animate-bubbles 15s linear infinite;
    animation-duration: calc(650s / var(--i));
    transition: background-color 0.5s ease;
    opacity: 1;
}

@keyframes bg-animation{
    0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
.container{
    height: 400px;
    width: 90%;
}

#firstPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#thirdPage{
    display: flex;
    margin-top: 200px;
}

#firstPage,#thirdPage{
    height: 1000px;
}

.navbar{
    z-index: 1;
}

.navbar-nav{
    width: 100%;
}

.homePageContent{
    width: 100%;
    height: 450px;
    padding-bottom: 50px;
}

.navbar-brand{
    color: aqua;
}

.col-one{
    display: grid;
    grid-template-rows: 330px 80px 70px;
    height: 500px;
}

.colOneBody{
    display: flex;
    align-items: center;
    justify-content: center;
}

.colOneBodyText{
    font-size: 24px;
    
}

.colOneHeader{
    padding-top: 100px;
}

#colOneHeaderName{
    font-size: 90px;
    margin: 0;
    padding: 0;
    
}

.colOneButtonContainer > button{
    width: 112px;
    height: 33px;
    border-radius: 4px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: all 0.5s ease;
}

.main_button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .main_button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 3px;
    right: -20px;
    transition: 0.5s;
  }

  .main_button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .main_button:hover:after {
    opacity: 1;
    right: 10px;
  }

  .main_button > a{
    text-decoration: none;
    color: white;
  }
 
  .projectsA{
    color: black;
  }

.colOneButtonContainer > button:nth-child(odd){
    background-color: black;
    color: white;
}

.colOneButtonContainer > button:nth-child(even){
    border: none;
    background-color: white;
}

.grid-even-columns{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.grid-even-columns .flow img{
  width: 120px;
  height: 120px;
}

.grid-even-columns .flow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-even-columns .flow:hover img{
    transform: translate(120px);
}

.grid-even-columns .flow:hover .logoText {
    color: black;
}

.grid-even-columns .flow img{
    transition: transform 1.5s ease;
}

.logoText{
    position: absolute;
    color: white;
    z-index: -1;
    transition: color 2s;
    font-family: 'Roboto Mono', sans-serif;
}

.flow{
    border: 1px solid white;
    transition: border-color 4s;
}

.techStack > div{
    width: 100%;
    height: 100%;
    margin: 10px;

}

.techStack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    box-sizing: border-box;
}


